body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #767676;
  background: #FCF8EF;
}

.logo {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 90px;
  font-style: italic;
  letter-spacing: 10px;
  position: absolute;
  top: 58px;
  left: 194px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}

.heading_main {
  display: flex;
  justify-content: end;
  position: relative;
}

.heading_img_hand {
  width: 438px;
  height: 610px;
  position: absolute;
  bottom: 133px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%);
  border-radius: 228px 228px 0 0;
}

@media (max-width: 1700px) {
  .heading_img_hand {
    bottom: 80px;
    width: 350px;
    height: 500px;
  }
}
.nail_img {
  width: 600px;
  height: 400px;
  background: url(../img/head/nail_bg.png) no-repeat center/cover;
  position: absolute;
  left: 30px;
  top: 200px;
}
.nail_img::before {
  content: url(../img/head/nail_bg_dota.png);
  margin-left: 120px;
  position: absolute;
  top: -222px;
  left: -55px;
}
.nail_img::after {
  content: url(../img/head/nail.png);
  margin-left: 120px;
}

.main_img {
  width: 50%;
  overflow: hidden;
}
.main_img img {
  width: 100%;
}
.main_img {
  z-index: 2;
}

.lorem {
  display: flex;
  align-items: center;
  height: 180px;
  background: #D8B192;
  width: 100%;
  margin-left: 146px;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.lorem_text {
  width: 300px;
  text-align: center;
  margin-left: 146px;
  color: #ffffff;
}
.lorem_text h1 {
  font-weight: 600;
  font-size: 2rem;
}

.check {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
.check_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 30px 80px 30px;
  justify-items: center;
  gap: 40px;
}
.check_list_li {
  list-style: none;
  width: 180px;
  text-align: left;
  border-bottom: 1px solid #767676;
  color: #D8B192;
  align-self: center;
}
.check_list_li p {
  margin-top: 17px;
  margin-bottom: 6px;
  color: #767676;
}

.btn {
  list-style: none;
  max-width: 220px;
  background: #D8B192;
  padding: 17px 55px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  align-self: center;
  color: white;
  text-decoration: none;
  margin-left: 80px;
}

.check_samples {
  max-width: 1253px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
}
.check_samples_block {
  text-align: center;
  width: 265px;
  height: 278px;
  margin: 0 auto;
}
.check_samples_block img {
  width: 143px;
  height: 163px;
}
.check_samples .samples_text {
  color: #767676;
  margin-top: 25px;
}
.check_samples .samples_text h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.story {
  max-width: 1386px;
  height: 790px;
  margin: 146px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
.story img {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.story .story_text {
  width: 401px;
  margin-top: 110px;
  margin: 0 auto;
}
.story .story_text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #D8B192;
  margin-bottom: 25px;
}
.story .story_text h3 {
  font-weight: 600;
  margin-top: 25px;
}/*# sourceMappingURL=style.css.map */